html {
   box-sizing: border-box; 
    padding: 0;
}

body {
    margin: 0;
    background-image: linear-gradient(
        180deg,
        hsl(240deg 2% 75%) 0%,
        hsl(295deg 3% 75%) 9%,
        hsl(340deg 7% 75%) 18%,
        hsl(5deg 11% 76%) 27%,
        hsl(22deg 14% 75%) 36%,
        hsl(40deg 13% 73%) 45%,
        hsl(68deg 7% 66%) 55%,
        hsl(95deg 5% 55%) 64%,
        hsl(128deg 5% 44%) 73%,
        hsl(152deg 8% 33%) 82%,
        hsl(168deg 14% 22%) 91%,
        hsl(180deg 27% 12%) 100%
        );
}

.app {
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: start;
    padding-top: 5rem;
    flex-wrap: wrap;
    width: 100vw;
    gap: 2rem;
    height: 100vh;
}

.nav-container {
    position: relative;
    top: -16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    gap: 2;
    width: 100vw;
    flex-basis: 100%;
    padding: 2rem;
    background-image: linear-gradient(
        245deg,
        hsl(240deg 41% 15%) 0%,
        hsl(248deg 35% 15%) 9%,
        hsl(254deg 30% 15%) 18%,
        hsl(260deg 24% 15%) 27%,
        hsl(265deg 19% 16%) 36%,
        hsl(271deg 13% 16%) 45%,
        hsl(255deg 11% 16%) 55%,
        hsl(225deg 15% 16%) 64%,
        hsl(210deg 22% 15%) 73%,
        hsl(200deg 28% 14%) 82%,
        hsl(191deg 30% 13%) 91%,
        hsl(180deg 27% 12%) 100%
        );
}

a {
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    color: white;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 1rem;
}

a:hover {
    color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 6px;
    padding: 1rem;
}

a:active {
    color: crimson;
    border: 1px solid crimson;
}

li {
    list-style: none;
}

.one {
    border: 1px solid red;
    color: blue;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.two {
    border: 1px solid red;
    color: goldenrod;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.three {
    border: 1px solid red;
    color: crimson;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.four {
    border: 1px solid red;
    color: darkcyan;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.five {
    border: 1px solid red;
    color: lime;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.six {
    border: 1px solid red;
    color: magenta;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.seven {
    border: 1px solid red;
    color: orangered;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.eight {
    border: 1px solid red;
    color: purple;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.nine {
    border: 1px solid red;
    color: green;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

h1 {
    margin-right: 2rem;
}

pre {
    flex-basis: 100%;
    color: navy;
    font-size: 140%;
    font-weight: 900;
    margin: 2rem;
}

