html {
   box-sizing: border-box; 
    padding: 0;
}

body {
    background-color: ivory;
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    gap: 2rem;
    margin-top: 1rem;
    height: 36vh;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    gap: 2;
    border-bottom: 2px solid gray;
    width: 100vw;
    flex-basis: 100%;
    padding: 2rem;
    background-color:darkslateblue;
}

a {
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    color: white;
}

li {
    list-style: none;
}

.one {
    border: 1px solid red;
    color: blue;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.two {
    border: 1px solid red;
    color: goldenrod;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.three {
    border: 1px solid red;
    color: crimson;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.four {
    border: 1px solid red;
    color: darkcyan;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.five {
    border: 1px solid red;
    color: lime;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

.six {
    border: 1px solid red;
    color: magenta;
    font-size: 200%;
    padding: 1rem;
    font-weight: 800;
}

h1 {
    margin-right: 2rem;
}

pre {
    flex-basis: 100%;
    text-align: left;
    color: navy;
    font-size: 110%;
    font-weight: bolder;
}

